ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    opacity: 50%;
    position: sticky;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
    font-family: 'Open Sans'
}

li a:hover {
    background-color: #111;
}
.logo {
    float: left;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600; 
    font-size: 30px; 
    color: white; 
    margin-left: 10px; 
    margin-top: 0;
    position: absolute;
    cursor: pointer;
}